<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Digital Office secure file transfering">
    <meta name="keywords" content="cryptography, secure file transfer, rsa, aes">
    <meta name="author" content="Jaime Bastida, Daniel Solorio, Fernando Wittingham">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Digital Office | Create Account</title>
</head>
<body>
    <header>
        <div class="container-custom">
            <h1><span class="highlight">Digital</span> Office</h1>
        </div>
    </header>

    <section id="section-register">
        <div class="dark">
            <h2 class="highlight">Create your Digital Office Account</h2>
            <% include ./partials/messages %>
            <form action="/users/createaccount" method="POST" class="registry-form">
                <div class="inputL">
                    <label>First Name</label><br>
                    <input type="text" name="firstname" placeholder="First Name..."
                    value="<%= typeof firstname != 'undefined' ? firstname : '' %>">
                </div>
                <div class="inputL">
                    <label>Last Name</label><br>
                    <input type="text" name="lastname" placeholder="Last Name..."
                    value="<%= typeof lastname != 'undefined' ? lastname : '' %>">
                </div>
                <div class="inputL">
                    <label>User Name</label><br>
                    <input type="text" name="username" placeholder="Username..."
                    value="<%= typeof username != 'undefined' ? username : '' %>">
                </div>
                <div class="inputL">
                    <label>Password</label><br>
                    <input type="password" name="password" placeholder="Password..."
                    value="<%= typeof password != 'undefined' ? password : '' %>">
                </div>
                <div class="inputL">
                    <label>Confirm Password</label><br>
                    <input type="password" name="passwordconfirm" placeholder="Confirm..."
                    value="<%= typeof passwordconfirm != 'undefined' ? passwordconfirm : '' %>">
                </div>
                <div class="inputL">
                    <label>Email</label><br>
                    <input type="email" name="email" placeholder="smh@mail.com"
                    value="<%= typeof email != 'undefined' ? email : '' %>">
                </div>
                <div class="inputL">
                    <label>Type of User</label><br>
                    <select name="type">
                        <option value="CEO">CEO</option>
                        <option value="Common">Common</option>
                    </select>
                </div>
                <input type="submit" value="Send" class="button_1">
            </form>
            <div class="container-custom">
                <a href="/users/index"><button class="button_2" style="margin-top:1rem;">BACK TO INDEX</button></a>
            </div>
        </div>
    </section>

    <footer>
        <p>Kessler Digital Office, Copyrigth &copy; 2019</p>
    </footer>
</body>
</html>