<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Show Memos</title>
  <link href="https://fonts.googleapis.com/css?family=Krub" rel="stylesheet">
  <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.0/normalize.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Krub:400,700" rel="stylesheet">
  <link rel="stylesheet" href="/css/styledani.css">
</head>
<body>
  <header class="site-header">
    <nav>
      <!--Aqui va el menu!-->
      <div class="iconomenu">
          <a href="/users/home" style="color:black;">
            <i class="far fa-compass"></i>
          </a>
      </div>
    </nav>
  </header>
  <div class="hero">
    <div class="contenedor-hero">
      <h1>View Memos</h1>
    </div>
  </div>

  <div style="width:80%;margin:auto;margin-top:3rem;">
    <% if(error_msg != '') { %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <%= error_msg %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
    <% } %>
  </div>

  <div style="width:80%;margin:auto;margin-top:3rem;">
    <% if(success_msg != '') { %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= success_msg %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
    <% } %>
  </div>


  <% if(memos){ %>
    <div class="collection contenedor">
        <% memos.forEach(function(memo) { %>
        <div class="card mt-3" style="margin:auto;">
          <img class="card-img-top" src="/img/memo.png" alt="Word Image">
          <div class="card-body mb-3">
            <h5 class="card-title"><%= memo.filename %></h5>
            <li><i class="fas fa-user"></i>&nbsp;&nbsp;<%= memo.metadata.sender %></li>      
            <% if(memo.metadata.type === 'confident'){ %>
              <form method="POST" action="/users/deciphermemo">
                <input type="hidden" name="docname" value="<%= memo.filename %>">
                <input type="hidden" name="type" value="<%= memo.metadata.type %>">
                <!-- <input type="text" name="password" placeholder="Key..."> -->
                <textarea class="form-control" placeholder="Key..." rows="10" name="privatekey"></textarea>
                <button class="btn btn-primary btn-block mt-4">Decipher</button>
              </form>
            <% } %>    
              <form method="POST" action="/users/filedeletememo">
                <input type="hidden" name="docname" value="<%= memo.filename %>">
                <input type="hidden" name="type" value="<%= memo.metadata.type %>">
                <input type="text" name="password" placeholder="User password...">
                <button class="btn btn-danger btn-block mt-4">Delete</button>
              </form>
              <form method="POST" action="/users/downloadmemo">
                <input type="hidden" name="docname" value="<%= memo.filename %>">
                <input type="hidden" name="type" value="<%= memo.metadata.type %>">
                <input type="text" name="password" placeholder="User password...">
                <button class="btn btn-primary btn-block mt-4">Download</button>
              </form>              
          </div>  
        </div>
        <% }) %>
    </div>
    <% } else {  %>
      <div style="width:80%;margin:auto;margin-top:3rem;">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          There are no Memoradums to show
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    <% } %>
</body>
</html>
